@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?980fiq');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?980fiq#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?980fiq') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?980fiq') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?980fiq##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.u-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.truck {
  &:before {
    content: $truck; 
  }
}
.shop {
  &:before {
    content: $shop; 
  }
}
.store {
  &:before {
    content: $store; 
  }
}
.remove_circle {
  &:before {
    content: $remove_circle; 
  }
}
.check_circle {
  &:before {
    content: $check_circle; 
  }
}
.whatsapp_o {
  &:before {
    content: $whatsapp_o; 
  }
}
.remove {
  &:before {
    content: $remove; 
  }
}
.caret_down {
  &:before {
    content: $caret_down; 
  }
}
.youtube {
  &:before {
    content: $youtube; 
  }
}
.vimeo {
  &:before {
    content: $vimeo; 
  }
}
.soundcloud {
  &:before {
    content: $soundcloud; 
  }
}
.linkedin {
  &:before {
    content: $linkedin; 
  }
}
.whatsapp {
  &:before {
    content: $whatsapp; 
  }
}
.video_call {
  &:before {
    content: $video_call; 
  }
}
.search {
  &:before {
    content: $search; 
  }
}
.location {
  &:before {
    content: $location; 
  }
}
.open_book {
  &:before {
    content: $open_book; 
  }
}
.newsletter {
  &:before {
    content: $newsletter; 
  }
}
.menu {
  &:before {
    content: $menu; 
  }
}
.instagram {
  &:before {
    content: $instagram; 
  }
}
.google_plus {
  &:before {
    content: $google_plus; 
  }
}
.email {
  &:before {
    content: $email; 
  }
}
.commerce {
  &:before {
    content: $commerce; 
  }
}
.check {
  &:before {
    content: $check; 
  }
}
.close {
  &:before {
    content: $close; 
  }
}
.refrigerator {
  &:before {
    content: $refrigerator; 
  }
}
.washing_machine {
  &:before {
    content: $washing_machine; 
  }
}
.vacuum_cleaner {
  &:before {
    content: $vacuum_cleaner; 
  }
}
.oven {
  &:before {
    content: $oven; 
  }
}
.mixer {
  &:before {
    content: $mixer; 
  }
}
.hand_shake {
  &:before {
    content: $hand_shake; 
  }
}
.technology {
  &:before {
    content: $technology; 
  }
}
.meeting {
  &:before {
    content: $meeting; 
  }
}
.facebook {
  &:before {
    content: $facebook; 
  }
}
.twitter {
  &:before {
    content: $twitter; 
  }
}
.tv {
  &:before {
    content: $tv; 
  }
}
.performance {
  &:before {
    content: $performance; 
  }
}
.people {
  &:before {
    content: $people; 
  }
}
.arrow_rigth_o {
  &:before {
    content: $arrow_rigth_o; 
  }
}
.add {
  &:before {
    content: $add; 
  }
}
.youtube_play {
  &:before {
    content: $youtube_play; 
  }
}
.minus {
  &:before {
    content: $minus; 
  }
}
.quality {
  &:before {
    content: $quality; 
  }
}
.controls {
  &:before {
    content: $controls; 
  }
}
.badge {
  &:before {
    content: $badge; 
  }
}
.arrow_left_o {
  &:before {
    content: $arrow_left_o; 
  }
}
.arrow_up {
  &:before {
    content: $arrow_up; 
  }
}
.arrow_right {
  &:before {
    content: $arrow_right; 
  }
}
.arrow_down {
  &:before {
    content: $arrow_down; 
  }
}
.arrow_left {
  &:before {
    content: $arrow_left; 
  }
}

