$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$truck: "\e92f";
$shop: "\e92d";
$store: "\e92d";
$remove_circle: "\e92a";
$check_circle: "\e929";
$whatsapp_o: "\e93b";
$remove: "\e92e";
$caret_down: "\e92c";
$youtube: "\e925";
$vimeo: "\e927";
$soundcloud: "\e928";
$linkedin: "\e926";
$whatsapp: "\e92b";
$video_call: "\e900";
$search: "\e901";
$location: "\e902";
$open_book: "\e903";
$newsletter: "\e904";
$menu: "\e905";
$instagram: "\e906";
$google_plus: "\e907";
$email: "\e908";
$commerce: "\e909";
$check: "\e90a";
$close: "\e90b";
$refrigerator: "\e90c";
$washing_machine: "\e90d";
$vacuum_cleaner: "\e90e";
$oven: "\e90f";
$mixer: "\e910";
$hand_shake: "\e911";
$technology: "\e912";
$meeting: "\e913";
$facebook: "\e914";
$twitter: "\e915";
$tv: "\e916";
$performance: "\e917";
$people: "\e918";
$arrow_rigth_o: "\e919";
$add: "\e91a";
$youtube_play: "\e91b";
$minus: "\e91c";
$quality: "\e91d";
$controls: "\e91e";
$badge: "\e91f";
$arrow_left_o: "\e920";
$arrow_up: "\e921";
$arrow_right: "\e922";
$arrow_down: "\e923";
$arrow_left: "\e924";

