$global-color-primary: #0099db;
$global-color-secondary: #000;
$global-color-tertiary: #858383;
$global-color-text: #858383;
$global-color-wrapper: #efefef;
$global-color-border: #f2f2f2;
$global-color-error: #c31515;
$global-border-color: #efefef;
$global-color-success: #5cb85c;
$global-color-warning: #f0ad4e;
$global-color-danger: #d43f3a;
