$global-color-primary: #150092;
$global-color-secondary: #6ebb51;
$global-color-tertiary: #D8203C;
$global-color-quaternary: #DCD200;
$global-color-quinary: #f2f2f2;

$global-color-text: #5e5e5e;
$global-color-dark: #2B2B2B;
$global-border-color: #cfcfcf;
$global-color-background: #f2f2f2;
$global-color-default: #2B2B2B;

$global-color-success: #32b032;
$global-color-error: #D8203C;
$global-color-warning: #b58364;
$global-color-excel: #008f2f;
$global-color-pdf: #e2452d;

$global-color-facebook: #365992;
$global-color-linkedin: #0e76a2;
$global-color-google: #ce2428;
$global-color-soundcloud: #ff6a22;
$global-color-vimeo: #1ab1e4;
$global-color-instagram: #bc2a8d;


