input, textarea, select {
  border-color: rgba($global-color-tertiary, .3) !important;
  border-radius: 6px !important;
  box-sizing: border-box;
  color: $global-color-tertiary !important;
  font-size: 1.4rem !important;
  height: auto !important;

  &:focus {
    border-color: rgba($global-color-tertiary, .7) !important;
    box-shadow: 0 0 0 0 !important;
  }
}

textarea {
  resize: none;
}
