/*------------------------------------*\
  #Sweet Alert
\*------------------------------------*/


.sweet-alert button.confirm {
  color: #fff;
  background-color: $global-color-primary !important;
  border-color: darken($global-color-primary, 10%);
}

.sweet-alert button.cancel {
  background-color: rgba($global-color-tertiary, .8)
}
