@import "./base";
@import "./backgrounds";
@import "./bootstrap-buttons";
@import "./bootstrap-modals";
@import "./bootstrap-tabs";
@import "./bootstrap-toggle";
@import "./bootstrap";
@import "./colors";
@import "./flex";
@import "./margin";
@import "./padding";
@import "./sweet-alert";
@import "./type-scale";
@import "./typography";
@import "./wysihtml5";
@import "./owl-carousel";


.u-shadow-bottom {
  box-shadow: 0 4px 16px 1px rgba($global-color-tertiary, .5);
}

.u-height-100 {
  height: 100%
}

.u-width-100 {
  width: 100%
}

.u-z4 {
  z-index: 4
}

.u-info {
  border-top: 1px solid rgba($global-color-tertiary, .2);
  border-left: 1px solid rgba($global-color-tertiary, .2);
  border-right: 1px solid rgba($global-color-tertiary, .2);
  padding: .5rem 1rem;

  &:last-child {
    border-bottom: 1px solid rgba($global-color-tertiary, .2);
  }

  &:nth-child(odd) {
    background-color: rgba($global-color-tertiary, .1);
  }
}

.u-width-100 {
  width: 100%
}

.u-label {
  border: 1px solid $global-border-color;
  color: white;
  // font-weight: normal;
  padding: .15rem .5rem
}
