@include component('image') {
  margin: 0;
  display: block;
  position: relative;

  @include element('src') {
    object-fit: cover;
    width: 100%;
  }

  @include element('load') {
    background: white;
    display: flex;
    justify-content: center;
    padding-top: calc(50% - 14px);
    padding-bottom: calc(50% - 14px);
  }
}
