@include component('section') {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1.25rem;

  @include mq($from: tablet) {
    grid-template-columns: 1fr minmax(200px, 2fr);
  }

  @include mq($from: laptop) {
    grid-template-columns: 1fr minmax(200px, 3fr);
  }

  &:nth-of-type(even) {
    @include mq($from: tablet) {
      grid-template-columns: minmax(200px, 2fr) 1fr;
      >.c-section__info {
        order: 1;
      }
    }

    @include mq($from: laptop) {
      grid-template-columns: minmax(200px, 3fr) 1fr;
    }
  }

  @include element('title') {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  @include element('info') {
    padding: 1.5rem;
    background-color: $global-color-primary;
    color: white;
    display: flex;
    flex-direction: column;
    @include mq($from: tablet) {
      border-radius: 5px;
    }
    @include mq($until: tablet) {
      margin-left: -8.75%;
      margin-right: -8.75%;
    }
  }

  @include element('info-data') {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  @include element('slider') {
    display: flex;
    align-items: center;
  }

  @include element('icon') {
    width: 22px;
  }

  @include element('slick') {
    flex: 1;
    width: 1px
  }
}
